body {
    background: #669bbc;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
    background: #fdf0d5;
    color: #780000;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    border: solid;
}

#over {
    padding-top: 20px;
    font-size: 45px;
}

#under {
    padding-bottom: 30px;
    font-size: 18px;
}

.biography {
    background: #669bbc;
    color: #780000;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid;
}

#bioheader {
    font-size: 18;
}

#bio {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

#James {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photos {
    background: #fdf0d5;
    color: #780000;
    border: solid;
    margin-bottom: 20px;
    align-content: space-around;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#Gamer {
    height: 200px;
    border-radius: 30px;
    padding: 10px;
}

#PC {
    height: 200px;
    border-radius: 30px;
    padding: 10px;
}

.portfolio {
    background: #669bbc;
    color: #780000;
    border: solid;
    border-radius: 20px;
    text-align: center;
    list-style-position: inside;
}

#projects {
    text-align: left;
}