body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    background: #669BBC;
    color: #780000;
}

h1 {
    font-family: verdana, arial, sans-serif;
}

.bio {
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.header {
    margin-bottom: 20px;
}
.biography {
    margin-bottom: 175px;
}

.portfolio {
    /*
        display: flex;
    */
}

#James {
    width: 150px;
    float: left;
    border: solid black;
}

#Gamer {
    width: 300px;
    border-radius: 30px 30px 30px 30px;
    float: inline-start;
    padding-left: 20px;
}

#PC {
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    float: right;
}